@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'type';

html,
body {
  padding: 0;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  @apply flex flex-col;
}

a.link {
  @apply flex text-brand-3 mt-8
  after:content-['→'] after:ml-4
  hover:text-brand-5 hover:after:ml-8;
}

li {
  @apply py-3 px-3 hover:bg-indigo-50  border-gray-100 text-gray-500 hover:text-black transition-all inline-block border-b border-b-gray-200
}

* {
  box-sizing: border-box;
}

input {
  @extend .-ft-1;
  @apply flex border border-gray-500 rounded-lg px-6 py-4 w-full mb-2;
}
label {
  @apply flex mt-6 mb-2;
}

button, .button {
  @extend .ft-0;
  // @apply flex w-max px-8 py-4 mt-8
  // bg-brand-3 text-white
  // hover:bg-brand-2
  // after:content-['→'] after:ml-4 hover:after:ml-8;
  &-secondary {
    @extend .button;
    @apply bg-transparent border border-brand-1 text-inherit hover:bg-transparent;
  }
}

.text-block {
  @apply xl:w-1/2;
  & > h4 {
    @apply mt-16 mb-8;
  }
  & ul {
    @apply mb-4 ;
  }
  & li {
    @apply before:content-['•'] before:mr-4 ml-4;
  }
}

.row {
  @apply w-full flex flex-wrap justify-between items-stretch my-16;
}
.column {
  @apply flex-grow min-w-[calc(100%/4)] lg:min-w-[calc(100%/12)];
}

.video-frame {
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-frame iframe, .video-frame object, .video-frame embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
